@model Steam.Models.SteamPlayer.PlayerAchievementResultModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    @if (Model.Success)
    {
    <div class="shadow border" style="width:555px;border">
        <h3>@Html.DisplayFor(model => model.GameName) Achievements</h3>
        <div class="row" style="width:550px;height:400px;overflow-y:scroll;overflow-x:hidden">
            @foreach (var item in Model.Achievements)
            {
                @if (item.Achieved == 1)
                {
                    <div class="col-sm-5">
                        @Html.DisplayFor(model => item.Name)
                    </div>
                }
            }
        </div>
    </div>
    }
    else
    {
        <h2>@ViewData["Error"]</h2>
    }

</body>
</html>
