
@{
    ViewData["Title"] = "AddWidget";
}


    <div class="shadow border" style="width:400px">
        <a asp-action="CreateWeatherWidget">
            <img src="https://www.diariolosciudadanos.com/wp-content/uploads/2019/01/weather.jpg" style="width:400px;height:250px;" alt="Weather Widget"/>
        </a>
    </div>