@model DEV_dashboard_2019.Models.WidgetConf.DetailWidgetConf

@{
    ViewData["Title"] = "Create Movie Details Widget";
}

<h1>@ViewData["Title"]</h1>

<h4>Configuration</h4>
<hr />
<div class="col-md-4">
    <form asp-action="CreateDetailWidget">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Widget" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Widget">Back to Dashboard</a>
    </div>
</div>