@model DEV_dashboard_2019.Models.WidgetViewModel

@{
    ViewData["Title"] = "DASHBOARD";
}

<p>
    <input type="button" value="Add Widget" class="btn btn-primary" onclick="window.location='@Url.Action("AddWidget", "Home")'" />
</p>
<br />
<div class="row">
    @foreach (var widgetConf in Model.WeatherConf)
    {
        <div class="col-md-6">
            @await Component.InvokeAsync("WeatherWidget", widgetConf)
        </div>
    }
    @foreach (var widgetConf in Model.AchievementConf)
    {
        <div class="col-md-6">
            @await Component.InvokeAsync("AchievementWidget", widgetConf)
        </div>
    }
    @foreach (var widgetConf in Model.FriendListConf)
    {
        <div class="col-md-6">
            @await Component.InvokeAsync("FriendListWidget", widgetConf)
        </div>
    }
    @foreach (var widgetConf in Model.MovieConf)
    {
        <div class="col-md-6">
            @await Component.InvokeAsync("MovieWidget", widgetConf)
        </div>
    }
    @foreach (var widgetConf in Model.TrendConf)
    {
        <div class="col-md-6">
            @await Component.InvokeAsync("TrendWidget", widgetConf)
        </div>
    }
    @foreach (var widgetConf in Model.DetailConf)
    {
        <div class="col-md-6">
            @await Component.InvokeAsync("DetailWidget", widgetConf)
        </div>
    }

</div>